In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('datos/aguas_subterraneas_2020.csv')
df.head()

,CLAVE,SITIO,ORGANISMO_DE_CUENCA,ESTADO,MUNICIPIO,ACUIFERO,SUBTIPO,LONGITUD,LATITUD,PERIODO,...,CUMPLE_CON_DUR,CUMPLE_CON_CF,CUMPLE_CON_NO3,CUMPLE_CON_AS,CUMPLE_CON_CD,CUMPLE_CON_CR,CUMPLE_CON_HG,CUMPLE_CON_PB,CUMPLE_CON_MN,CUMPLE_CON_FE
0,DLAGU6,POZO SAN GIL,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,ASIENTOS,VALLE DE CHICALOTE,POZO,-102.02210,22.20887,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
1,DLAGU6516,POZO R013 CA�ADA HONDA,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,AGUASCALIENTES,VALLE DE CHICALOTE,POZO,-102.20075,21.99958,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
2,DLAGU7,POZO COSIO,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,COSIO,VALLE DE AGUASCALIENTES,POZO,-102.28801,22.36685,2020,...,SI,SI,SI,NO,SI,SI,SI,SI,SI,SI
3,DLAGU9,POZO EL SALITRILLO,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,RINCON DE ROMOS,VALLE DE AGUASCALIENTES,POZO,-102.29449,22.18435,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
4,DLBAJ107,RANCHO EL TECOLOTE,PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LA PAZ,TODOS SANTOS,POZO,-110.24480,23.45138,2020,...,SI,SI,NO,SI,SI,SI,SI,SI,SI,SI

In [11]:
cols_to_drop  = df.columns[df.columns.str.contains('(?!CUMPLE_CON_CD)(?:CALIDAD|CUMPLE)')].to_list()
cols_to_drop.extend(['CLAVE', 'SITIO', 'CONTAMINANTES', 'ORGANISMO_DE_CUENCA', 'PERIODO', 
                     'CD_TOT_mg/L', 'ACUIFERO', 'MUNICIPIO', 'SDT_mg/L', 'ESTADO', 'LONGITUD', 'LATITUD'])

In [12]:

X = df.drop(cols_to_drop + ['SEMAFORO'], axis = 1)

In [13]:
X.head()

,SUBTIPO,ALC_mg/L,CONDUCT_mS/cm,SDT_M_mg/L,FLUORUROS_mg/L,DUR_mg/L,COLI_FEC_NMP/100_mL,N_NO3_mg/L,AS_TOT_mg/L,CR_TOT_mg/L,HG_TOT_mg/L,PB_TOT_mg/L,MN_TOT_mg/L,FE_TOT_mg/L,CUMPLE_CON_CD
0,POZO,229.990,940.0,603.6,0.9766,213.732,<1.1,4.184656,0.0161,<0.005,<0.0005,<0.005,<0.0015,0.0891,SI
1,POZO,231.990,608.0,445.4,0.9298,185.0514,<1.1,5.75011,0.0134,<0.005,<0.0005,<0.005,<0.0015,<0.025,SI
2,POZO,204.920,532.0,342,1.8045,120.719,<1.1,1.449803,0.037,<0.005,<0.0005,<0.005,<0.0015,<0.025,SI
3,POZO,327.000,686.0,478.6,1.1229,199.879,<1.1,1.258597,0.0154,0.005,<0.0005,<0.005,<0.0015,<0.025,SI
4,POZO,309.885,1841.0,1179,0.2343,476.9872,291,15.672251,<0.01,<0.005,<0.0005,<0.005,<0.0015,<0.025,SI

In [14]:
X.columns

Index(['SUBTIPO', 'ALC_mg/L', 'CONDUCT_mS/cm', 'SDT_M_mg/L', 'FLUORUROS_mg/L',
       'DUR_mg/L', 'COLI_FEC_NMP/100_mL', 'N_NO3_mg/L', 'AS_TOT_mg/L',
       'CR_TOT_mg/L', 'HG_TOT_mg/L', 'PB_TOT_mg/L', 'MN_TOT_mg/L',
       'FE_TOT_mg/L', 'CUMPLE_CON_CD'],
      dtype='object')

In [15]:
y = df[['SEMAFORO']]

In [16]:
y.head()

  SEMAFORO
0    Verde
1    Verde
2     Rojo
3    Verde
4     Rojo